html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  padding: 15rem;
}

button {
  padding: 20px 40px;
  background-color: rgb(216, 198, 226);
  border: 1px solid #8988cc;
  border-radius: 30px;
  cursor: pointer;
  color: #8988cc;
  font-weight: 700;
}
/* 
.start-btn {
  background-color: rgb(114, 219, 184);
  border: 1px solid #3ada77;
}

.stop-btn {
  background-color: rgb(240, 93, 68);
  border: 1px solid #fd1919;
} */
